:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #ff4141);
  --vp-home-hero-image-background-image: -webkit-linear-gradient(120deg, #bd34fe, #ff4141);

  --vp-font-family-base: 'Yusei Magic', sans-serif;
  --vp-font-family-mono: 'Yusei Magic', sans-serif;
}
iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
}

.image-container .img-src {
  content: url('../../images/_edb414b8-e355-436e-9395-94a8d2cc3c66.jpg');
}

@media (min-width: 960px) {
  .title {
    text-wrap: wrap;
  }

  .VPNavBar.has-sidebar .curtain {
    bottom: -32px !important;
  }
  .VPNavBar.has-sidebar .title {
    border-bottom-color: transparent !important;
  }
}